[package]
name = "trx_processor"
version = "0.1.0"
edition = "2021"

[dependencies]
csv = "1.3"
serde = { version = "1.0", features = ["derive"] }
rust_decimal = { version = "1.33", features = ["serde"] }
